
    body {
        background-color: lightblue;
        font-family:"Verdana", sans-serif;
        color:darkslategray;
            }


            .bordered-image {
        border: 5px solid #FFFFFF;
        border-radius: 10px;      
        object-fit: cover;
    }

            .message-form input[type="text"] {
        width: 90%;
        padding: 10px;
        box-sizing: border-box; 
    }
            .message-form input[type="submit"] {
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    col.first-col {
    background-color: #ffdddd;
}

        table {
            border-collapse: collapse;
            width: 60%;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }

        col.first-col {
            background-color: #ACDBC9;
        }
        col.second-col {
            background-color: #DBEBC2;
        }


        table {
            border-collapse: collapse;
            width: 60%;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }

        col.third-col {
            background-color: #FDD2B5; /* Light yellow */
        }
        /* Style the second column */
        col.fourth-col {
            background-color: #FDD2B5; /* Light blue */
        }

        .skills-experience-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    padding: 20px;
}

.box {
    width: 40%;
    background-color: #b7d8e6;
    border: 1px solid #5d7c89;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.box h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

.box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box ul li {
    margin: 5px 0;
}


